{% extends 'base.html.twig' %}

{% block title %} Logistique - SNIW, centrale d'achat export. {% endblock %}

{% block body %}
<body>
    <div class="background ">
        <div class="columns-container container carriere-container">
            <div class="rte">
                <div class="banner-header-cms"><img src="/images/logistique.png" alt="banner-logistique.png" height="206"
                                                    width="1078"/></div>
                <div class="row" style="margin-top:70px">
                    <div class="col-12">
                        <h3><span>&nbsp;SNIW, actionnaire de la société SNL Logistics</span><hr></h3>

                        <p><strong>SNIW</strong>, actionnaire de la société SNL Logistics offre un service d’entreposage et
                            de manutention logistique toutes températures. Le savoir-faire, l'expérience des équipes
                            permettent, un remplissage optimal de vos conteneurs et des conditions de leur acheminement.
                            <br/>Vous contrôlez le remplissage des containeurs par caméra.</p>
                    </div>

                </div>
                <div class="row" style="margin-top:30px">
                    <div class="col-12">
                        <h3><span>&nbsp;SNIW, entreprise agréée</span><hr></h3>
                        <p>SNIW, entreprise agréée, offre la possibilité, pour les produits soumis à accise les mouvements
                            et la livraison en suspension de droits sous le couvert du Document Administratif Electronique
                            (DAE).</p>
                    </div>
                </div>
                <div class="row" style="margin-top:50px">
                    <div class="container" style="text-align:center"><img
                                src="https://centraleachatexport.com/img/cms/cms-logistique/photo-logistique-1.jpg" alt=""
                                width="899" height="207"/></div>
                </div>
                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
