{% extends 'base.html.twig' %}

{% block title %} Services - SNIW, centrale d'achat export. {% endblock %}

{% block body %}
<body>
    <div class="background ">
        <div class="columns-container container carriere-container">
            <div class="rte">
                <div class="row cms-sniw">
                    <div class="col-xs-12 col-sm-12">
                        <div class="cms-header-text" style="margin-top:50px">
                            <span>A VOTRE SERVICE PARTOUT DANS LE MONDE </span> </br> Négociant international depuis 1965,
                            SNIW vous livre dans les meilleurs délais tous types de produits. Nous vous conseillons et vous
                            aidons à mettre en place pour nos produits, rigoureusement sélectionnés, les moyens logistiques
                            les mieux adaptés (container, camion, maritime ou aérien). A l’écoute permanente de notre
                            clientèle, nous assurons un service unique et personnalisé. SNIW c’est plus de 20 ans
                            d’expérience à votre disposition.
                        </div>
                    </div>
                    <div class="container" style="padding-top:100px">
                        <h3><span>&nbsp;Nos prestations</span><hr></h3>
                        <div class="row" style="margin-top:40px">
                            <div class="col-md-4 picto-p">
                                <h5><span>PREPARATION</span></h5>
                                <div class="sniw-cms-img" id="center"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prestations-1.jpg"
                                            alt="" width="163" height="143"/></div>
                                <p>Préparation de commande, gestion des stocks (WMS).</p>
                            </div>
                            <div class="col-md-4 picto-p">
                                <h5><span>CONDITIONNEMENT</span></h5>
                                <div class="sniw-cms-img" id="center"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prestations-2.jpg"
                                            alt="" width="163" height="143"/></div>
                                <p class="p_center">Conditionnement spécifique pour le transport aérien.</p>
                            </div>
                            <div class="col-md-4 picto-p">
                                <h5><span>CONTROLE</span></h5>
                                <div class="sniw-cms-img" id="center"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prestations-3.jpg"
                                            alt="" width="163" height="143"/></div>
                                <p id="p_center">Contrôle qualité (température, DLC, certificats sanitaires...).</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 picto-p">
                                <h5><span>STOCKAGE/PREPARATION</span></h5>
                                <div class="sniw-cms-img" id="center"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prestations-4.jpg"
                                            alt="" width="163" height="143"/></div>
                                <p>Stockage et préparation sous température dirigée (frais, surgélé / congelé, température
                                    personnalisée).</p>
                            </div>
                            <div class="col-md-4 picto-p">
                                <h5><span>ETIQUETAGE & RECONDITIONNEMENT</span></h5>
                                <div class="sniw-cms-img" id="center"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prestations-5.jpg"
                                            alt="" width="163" height="143"/></div>
                                <p>Tous produits, toutes températures.</p>
                            </div>
                            <div class="col-md-4 picto-p">
                                <h5><span>1 CARTON PAR PRODUIT</span></h5>
                                <div class="sniw-cms-img" id="center"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prestations-6.jpg"
                                            alt="" width="163" height="143"/></div>
                                <p>Composer vous-même votre container avec notre site dédié.</p>
                            </div>
                        </div>


                        <hr>

                    </div>
                    <div class="container" style="margin-top:40px">
                        <h3><span>&nbsp;Les avantages SNIW</span><hr></h3>
                        <ul class="list-services">
                            <li><span>1</span>Un seul fournisseur multimarques<br/><i>Une gamme complète de produits à
                                    Marque Belle France</i></li>
                            <li><span>2</span>Une équipe dédiée à votre service</li>
                            <li><span>3</span>10 000 références frais secs et surgelés disponibles en A pour C</li>
                            <li><span>4</span>Une livraison rapide et fiable</li>
                            <li><span>5</span>Une facture et un règlement unique</li>
                            <li><span>6</span>Une expérience de plus de vingt ans à votre service</li>
                        </ul>
                        <p class="text-services">Nous achetons et vendons les produits dont vous avez besoin en provenance
                            d’Europe (France, Belgique, Hollande, Espagne, Angleterre, Allemagne, Italie, Autriche, Ukraine,
                            Hongrie, Rep. Tcheque ...) et du Monde (Etats-Unis, Brésil, Chine, Turquie ...) au meilleur
                            rapport qualité/prix.</p>
                    </div>

                    <hr>
                    <div class="container" style="margin-top:80px">
                        <h3><span>&nbsp;Nous offrons</span><hr></h3>
                        <div class="img-offrons" id="center"><img
                                    src="https://centraleachatexport.com/img/cms/cms-services/nous-offrons-1.jpg" alt=""
                                    width="235" height="308"/></div>
                        <ul class="list-services">
                            <li><span>1</span>Des DLV export</li>
                            <li><span>2</span>Les documents nécessaires à l’import<br/><i>(certificats sanitaire, d’origine,
                                    Documents</i><br/><i>d’Accompagnement Electonique – DAE...)</i></li>
                            <li><span>3</span>La possibilité de contrôler en<br/><i>Webcam le chargement de votre
                                    container</i></li>
                        </ul>
                    </div>
                    <div class="" style="margin-top:55px;"></div>
                    <hr>
                    <div class="container" style="margin-top:80px">
                        <h3><span>&nbsp;Notre organisation</span><hr></h3>
                        <ul class="list-organisation">
                            <li><i>Un entrepôt sec (mi robotisé) , frais et surgelés à proximité immédiate de l’aéroport de
                                    Paris Orly idéalement localisé : face aéroport, près d'un nœud autoroutier 40.000
                                    palettes en stock permanent.</i></li>
                            <li><i>Un entrepôt dédié aux produits de collectivité et de restauration hors-foyer, situé au
                                    nord de la région parisienne (95).</i></li>
                            <li><i>Une équipe de professionnels basée à Lille (59) qui assure la coordination, le suivi
                                    commercial, logistique et l'accompagnement de chaque client en vous offrant le meilleur
                                    service.</i></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="container" style="margin-top:80px">
                        <h3><span>&nbsp; Prix et service</span><hr></h3>
                        <div class="row" style="margin-top:40px">
                            <div class="col-md-3 picto-p">
                                <h5><span>MEILLEUR<br/>PRIX</span></h5>
                                <div class="sniw-cms-img" id="center" style="margin-top:20px;"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prix-services-1.jpg"
                                            alt="" width="104" height="92"/></div>
                                <p>Nos services achats travaillent afin de vous faire bénéficier des meilleurs prix . Avec
                                    SNIW vous avez l'assurance de bénéficier des prix les plus compétitifs du marché.
                                    N'hésitez pas à nous alerter si pour des marques et produits strictement identiques et
                                    de même origine, vous trouvez moins cher ailleurs.</p>
                            </div>
                            <div class="col-md-3 picto-p">
                                <h5><span>assortiment<br/>rapide</span></h5>
                                <div class="sniw-cms-img" id="center" style="margin-top:20px;"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prix-services-2.jpg"
                                            alt="" width="104" height="92"/></div>
                                <p>L'assortiment de vos magasins en une seule expédition.</p>
                            </div>
                            <div class="col-md-3 picto-p">
                                <h5><span>commandes<br/>optimisées</span></h5>
                                <div class="sniw-cms-img" id="center" style="margin-top:20px;"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prix-services-3.jpg"
                                            alt="" width="104" height="92"/></div>
                                <p>Optimiser en fonction du volume, du poids et du montant n'a jamais été aussi simple grace
                                    à notre site commande : un programme vous permet de calculer au plus juste vos
                                    expéditions rapidement. Avec ce programme la prise en main est immédiate et vous
                                    optimisez au mieux vos commandes en fonction de vos impératifs.</p>
                            </div>
                            <div class="col-md-3 picto-p">
                                <h5><span>un service<br/>ultra rapide</span></h5>
                                <div class="sniw-cms-img" id="center" style="margin-top:20px;"><img
                                            src="https://centraleachatexport.com/img/cms/cms-services/prix-services-4.jpg"
                                            alt="" width="104" height="92"/></div>
                                <p>Au plus tard , 24 heures après réception de votre commande par email, vous recevez la pro
                                    forma correspondante . Une fois la commande confirmée l'empotage a lieu sous 15 jours en
                                    moyenne pour les produits secs et surgelés et 7 jours pour les produits frais.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="margin-top:40px;">
                        <div class="img-footer-service" id="center"><img
                                    src="https://centraleachatexport.com/img/cms/cms-services/footer-services.jpg" alt=""
                                    width="899" height="207"/></div>
                    </div>
                </div>
                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
