{% block stylesheets %}
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/container.css?v=1">
    </head>
{% endblock %}
        {% if is_granted('ROLE_USER') %}

                <div id="push-container-top" class="desktop-teo" data-current_volume="0" data-current_poids="0">
                    <div class="push-container-small">
                        <p>Cliquez sur&nbsp;<img src="https://centraleachatexport.com/themes/theme1279/img/container/btn-small.jpg"><br>pour consulter le remplissage de vos containers.</p>
                    </div>
                    <div class="bloc-sec">
                        <div class="container-left">
                            <p class="container-titre">Produits sec</p>
                            <p class="container-texte">Volume max : <span style="font-weight:bold">70m³</span> /Ctr </p>
                            <p class="container-texte">Poids max : <span style="font-weight:bold">24T</span> /Ctr </p>
                        </div>
                        <div class="container-right">
                            <div class="curseur-v curseur"><em>&nbsp;</em><i style="width:0%; max-width: 97%; background-color: #30a852;"></i><p>Volume : <span class="sp-vol">0</span>m³ </p></div>
                            <div class="curseur-p curseur"><em>&nbsp;</em><i style="width:0%; max-width: 97%; background-color: #30a852;"></i><p>Poids : <span class="sp-pds">0</span>T </p></div>
                        </div>
                    </div>
                    <div class="bloc-frais">
                        <div class="container-left">
                            <p class="container-titre">Produits surgelés</p>
                            <p class="container-texte">Volume max : <span style="font-weight:bold">46m³</span> /Ctr </p>
                            <p class="container-texte">Poids max : <span style="font-weight:bold">21T</span> /Ctr </p>
                        </div>
                        <div class="container-right">
                            <em>&nbsp;</em>
                            <div class="curseur-v curseur" style="bottom:20px"><em>&nbsp;</em><i style="width:0%; max-width: 97%; background-color: #30a852;"></i><p>Volume : <span class="sp-vol">0</span>m³ </p></div>
                            <div class="curseur-p curseur" style="bottom:20px"><em>&nbsp;</em><i style="width:0%; max-width: 97%; background-color: #30a852;"></i><p>Poids : <span class="sp-pds">0</span>T </p></div>
                        </div>
                    </div>
                    <div class="bloc-resume">
                        <p class="cta-title"><span class="cta-open" onclick="openBloc()">+</span><span class="cta-close" onclick="closeBloc()">-</span></p>
                        <p class="data-resume">Volume : <span class="sp-vol">0</span>m³</p>
                        <p class="data-resume">Poids : <span class="sp-pds">0</span>T</p>
                        <a class="cta-resume" href="{{ path('panier') }}" title="> Commander" target="_self">&gt; Commander</a>
                    </div>
                </div>


            <div id="push-container-top" class="mobile-teo" data-current_volume="0" data-current_poids="0">
                <div class="push-container-small">
                    <p>Cliquez sur&nbsp;<img src="https://centraleachatexport.com/themes/theme1279/img/container/btn-small.jpg"><br>pour consulter le remplissage de vos containers.</p>
                </div>
                <div class="bloc-sec">
                    <div class="container-left">
                        <p class="container-titre">Produits sec</p>
                        <p class="container-texte">Volume max : <span style="font-weight:bold">70m³</span> /Ctr </p>
                        <p class="container-texte">Poids max : <span style="font-weight:bold">24T</span> /Ctr </p>
                    </div>
                    <div class="container-right">
                        <div class="curseur-v curseur"><em>&nbsp;</em><i style="width:0%; max-width: 97%; background-color: #30a852;"></i><p>Volume : <span class="sp-vol">0</span>m³ </p></div>
                        <div class="curseur-p curseur"><em>&nbsp;</em><i style="width:0%; max-width: 97%; background-color: #30a852;"></i><p>Poids : <span class="sp-pds">0</span>T </p></div>
                    </div>
                </div>
                <div class="bloc-frais">
                    <div class="container-left">
                        <p class="container-titre">Produits surgelés</p>
                        <p class="container-texte">Volume max : <span style="font-weight:bold">46m³</span> /Ctr </p>
                        <p class="container-texte">Poids max : <span style="font-weight:bold">21T</span> /Ctr </p>
                    </div>
                    <div class="container-right">
                        <em>&nbsp;</em>
                        <div class="curseur-v curseur" style="bottom:20px"><em>&nbsp;</em><i style="width:0%; max-width: 97%; background-color: #30a852;"></i><p>Volume : <span class="sp-vol">0</span>m³ </p></div>
                        <div class="curseur-p curseur" style="bottom:20px"><em>&nbsp;</em><i style="width:0%; max-width: 97%; background-color: #30a852;"></i><p>Poids : <span class="sp-pds">0</span>T </p></div>
                    </div>
                </div>
                <div class="bloc-resume">
                    <p class="cta-title"><span class="cta-open" onclick="openBloc()">+</span><span class="cta-close" onclick="closeBloc()">-</span></p>
                    <p class="data-resume">Volume : <span class="sp-vol">0</span>m³</p>
                    <p class="data-resume">Poids : <span class="sp-pds">0</span>T</p>
                    <a class="cta-resume" href="{{ path('panier') }}" title="> Commander" target="_self">&gt; Commander</a>
                </div>
            </div>

        {% else %}

            <div id="cta-compte">
                <div class="cta-content">
                    <p class="cta-acc">Découvrir nos tarifs</p>
                    <p class="cta-text">Pour découvrir nos tarifs, merci de faire une demande d'ouverture de compte en cliquant ci-dessous :</p>
                    <a class="cta-link" href="{{ path('creation_compte') }}">&gt; Créer un compte</a>
                </div>
            </div>






        {% endif %}


<script>    // \\ Mise à jour container volume & poids ---------------------------------

    // Gestion affichage détail container --------------------------------------
    statut_cta_compte = 0;
    function openBloc() {
            $('div.bloc-sec').css('display','block');
            $('div.bloc-frais').css('display','block');
            $('div.push-container-small').css('display','none');
            $('.mobile-teo').css('background-position-y', '0');
            $('.desktop-teo').css('background-position-y', '0');
            $('.mobile-teo').css('height', '160px');
            $('.desktop-teo').css('height', '160px');

            $('span.cta-open').css('display','none');
            $('span.cta-close').css('display','block');
            statut_cta_compte = 1;
    };

    function closeBloc(){
        $('div.bloc-sec').css('display','none');
        $('div.bloc-frais').css('display','none');
        $('div.push-container-small').css('display','block');
        $('.mobile-teo').css('background-position-y', '-65px');
        $('.mobile-teo').css('height', '95px');
        $('.desktop-teo').css('background-position-y', '-65px');
        $('.desktop-teo').css('height', '95px');

        $('span.cta-open').css('display','block');
        $('span.cta-close').css('display','none');
    };
</script>