{% extends 'base.html.twig' %}

{% block title %}SNIW - Centrale d'achat export.{% endblock %}

{% block body %}
    <div class="container societe_container">
<div class="row">
    <div class="large-left col-sm-12">
        <div class="row">
            <div id="center_column" class="center_column col-xs-12 col-sm-12">

                <div class="rte">
                    <div class="banner-header-cms"><img
                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/banner-header.jpg"
                                alt="" height="493" width="1075"/></div>
                    <div class="row cms-sniw">

                            <div class="container" style="margin-top:40px">
                                <h3><span>&nbsp;Nos secteurs d'activités</span></h3>
                            </div>
                        <div class="container">

                            <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="" style="text-align:center;margin-top:40px"><h5>Hypermarchés<br/>Supermarchés</h5></div>
                                <div class="sniw-cms-img" style="text-align:center;margin-top:20px"><img
                                            src="https://centraleachatexport.com/img/cms/cms-centrale-achat/cms-centrale-achat-01.jpg"
                                            alt="" height="167" width="192"/></div>
                                <div class="text-gauche" style="margin-top:20px;text-align:justify">
                                <p>Centrale d'achat dédiée à l'international SNIW approvisionne grossistes et
                                    supermarchés dans le monde entier.</p>
                                <p>Nous proposons un vrai partenariat, clef de notre succès et de celui de nos clients :
                                    prix compétitifs, conseils… Nous sommes spécialistes de l’approvisionnement de
                                    grandes et moyennes surfaces dans toutes les conditions (froid positif, froid
                                    négatif, sec). Vous pouvez panacher dans votre container ou en groupage au carton
                                    l’assortiment le mieux adapté à votre point de vente : hypermarché, supermarché ou
                                    commerce de proximité.</p>
                                <p>Nous vous proposons avec l’assistance de notre Centrale un conseil à l’assortiment et
                                    à l’implantation basé sur l’expérience de notre groupe actionnaire. Nous vous
                                    apportons aussi notre assistance pour commander et vous approvisionner au meilleur
                                    prix tout le mobilier de votre point de vente : Equipement de la boulangerie,
                                    meubles froids, étiquettes de balisage, présentoirs, matériels de nettoyage,
                                    gondoles, meubles de caisse….</p>
                                </div>
                            </div>


                            <div class="col-12 col-xl-6" style="text-align:justify;margin-top:60px" >
                                <h5>Horeca<br/></h5>
                                <div class="sniw-cms-img" style="text-align:center;padding-top:29px"><img
                                            src="https://centraleachatexport.com/img/cms/cms-centrale-achat/cms-centrale-achat-02.jpg"
                                            alt="Horeca" height="167" width="192"/></div>
                                <div class="text-droite" style="margin-top:20px">
                                <p>SNIW propose aux réseau CHR et Base-vie une très large gamme de produits C. H. R.
                                    (Cafés, Hôtels, Restaurants) ou R.H.F. (Restauration Hors Foyer) qui comprend près
                                    de 5000 références susceptibles de satisfaire les restaurants scolaires jusqu'aux
                                    complexes touristiques haut de gamme, également en produits secs, frais et surgelés.<br/><br/>
                                </p>
                                <p>Nous approvisionnons Les centres de vie (mines, plateformes, écoles, hôpitaux, armée,
                                    …), Cash and Carry et proposons les meilleures solutions aux demandes
                                    spécifiques.</p>
                                <div class="sniw-cms-img" style="text-align:center"><img
                                            src="https://centraleachatexport.com/img/cms/cms-centrale-achat/cms-centrale-achat-03.jpg"
                                            alt="Horeca" height="237" width="296"/></div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="container" style="margin-top:40px">
                                <h3><span>&nbsp;Nos marques</span></h3>
                            </div>
                            <div class="cms-block col-xs-12 col-sm-12" style="margin-top:15px">
                                <h4>+ 10 000 références des marques propres et de marques internationales</h4>
                                <div class="sniw-cms-img-full" style="text-align:center"><img
                                            src="https://centraleachatexport.com/img/cms/cms-centrale-achat/cms-centrale-achat-05.jpg"
                                            alt="" style="margin-left:auto;margin-right:auto;" height="936"
                                            width="941"/></div>
                            </div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="container" style="margin-top:40px">
                                <h3><span>&nbsp;Nos gammes et familles de produits</span></h3>
                                <div class="container" style="margin-top:50px">
                                <h4>Un cadencier de plus de 50 000 références des marques propres <br/>et de marques
                                    internationales</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cms-block col-md-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-frais.jpg"
                                                alt="" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>FRAIS</h6>
                                        <p>Fruits &amp; légumes <br/>Crèmerie <br/>Charcuterie <br/>Viandes fraîches
                                            <br/>Ultra frais</p>
                                    </div>
                                </div>
                                <div class="cms-block col-md-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-surgeles.jpg"
                                                alt="picto-surgeles.jpg" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>Surgelés</h6>
                                        <p>Plats préparés <br/>Légumes <br/>Crèmes glacées <br/>Viandes / Volailles
                                            <br/>Poissons</p>
                                    </div>
                                </div>
                                <div class="cms-block col-md-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-pgc-alimentaire.jpg"
                                                alt="picto-pgc-alimentaire.jpg" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>PGC ALIMENTAIRE</h6>
                                        <p>Epicerie <br/>Liquides</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cms-block col-md-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-boissons.jpg"
                                                alt="picto-boissons.jpg" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>BOISSONS &amp; ALCOOLS</h6>
                                        <p>Alcools &amp; spiritueux <br/>Apéritifs <br/>Bières &amp; cidres <br/>Vins de
                                            consommation</p>
                                    </div>
                                </div>
                                <div class="cms-block col-sm-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-cremerie-fromage.jpg"
                                                alt="picto-cremerie-fromage.jpg" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>CREMERIE / FROMAGES</h6>
                                        <p>Beurres &amp; spécialités laitières <br/>Produits laitiers UHT <br/>Margarines
                                            &amp; graisses <br/>Lait longue conservation <br/>Fromages libre service</p>
                                    </div>
                                </div>
                                <div class="cms-block col-sm-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-bio.jpg"
                                                alt="picto-bio.jpg" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>BIO</h6>
                                        <p>Produits frais <br/>Fruits &amp; légumes <br/>DPH <br/>Epicerie sèche <br/>Charcuterie
                                            libre service</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cms-block col-md-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-textile.jpg"
                                                alt="picto-textile.jpg" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>TEXTILE</h6>
                                        <p>Habillement <br/>Linge de maison</p>
                                    </div>
                                </div>
                                <div class="cms-block col-md-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-droguerie.jpg"
                                                alt="picto-droguerie.jpg" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>DROGUERIE / HYGIENE /<br/>PARFUMERIE</h6>
                                        <p>Produits d’entretien <br/>Hygiène <br/>Lessive <br/>Parfumerie</p>
                                    </div>
                                </div>
                                <div class="cms-block col-md-4">
                                    <div class="sniw-cms-picto sniw-cms-col-left"><img
                                                src="https://centraleachatexport.com/img/cms/cms-centrale-achat/picto-non-alimentaire.jpg"
                                                alt="picto-non-alimentaire.jpg" height="105" width="115"/></div>
                                    <div class="sniw-cms-col-right">
                                        <h6>NON-ALIMENTAIRE</h6>
                                        <p>TV / HIFI / Electro <br/>Informatique <br/>Equipement de la cuisine <br/>Bricolage
                                            <br/>Jardinage</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container" style="text-align:center"><img
                                        src="https://centraleachatexport.com/img/cms/cms-centrale-achat/cms-centrale-achat-04.jpg"
                                        alt="" height="402" width="683"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}