<form action="{{ path('catalogue') }}" >
    {{ form_start(form) }}
    {{ form_widget(form.rechercher, { 'attr': { 'class' : "currency",'placeholder': "Rechercher"} }) }}
    {{ form_end(form) }}
</form>