{% extends 'base.html.twig' %}

{% block title %}Carrières - SNIW , centrale d'achat export.{% endblock %}

{% block body %}
<body>
    <div class="background">
        <div class="columns-container container carriere-container">
            <div class="rte">
                <div class="banner-header-cms"><img
                            src="https://centraleachatexport.com/img/cms/cms-recrutement/banner-recrutement.jpg"
                            alt="banner-recrutement.jpg" height="206" width="1078"/></div>
                <div class="row ">
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 col-sm-12" style="margin-top:40px">
                            <h3><span>&nbsp;Stagiaires</span></h3>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <p>Si vous souhaitez participer à l'aventure humaine d'une société en plein développement,
                                venez concilier à la SNIW épanouissement personnel et professionnel.<br/><br/><br/></p>
                            <h5>VOS MISSIONS :</h5>
                            <p><br/>Au sein de l’équipe, vos principales missions seront d’assister au développement
                                commercial :<br/><br/></p>
                            <p>- Prospection téléphonique, recheche internet,<br/> - Qualification des demandes
                                entrantes (site web, appels spontanés…),<br/> - Mise à jour et enrichissement de la base
                                de contacts,<br/> - Suivi des prospects et des demandes : relance, qualification des
                                besoins, phoning et prospection, détection d'opportunités (ouverture de magasins,
                                nouveau pays...)<br/> - Participation aux réponses aux appels d’offre<br/> - Soutien aux
                                manifestations événementielles (relance avant et après les salons, préparation de
                                matériel…),<br/> - Analyse des attentes, tendances et nouveautés du marché, des cibles
                                auprès desquelles communiquer,<br/> - Recrutement et formation de votre remplaçant(e) en
                                fin de stage<br/><br/></p>
                            <p>Cette liste n'est pas exhaustive. L'équipe de stagiaires peut être amené(e) à travailler
                                sur d’autres aspects commerciaux.<br/><br/><br/></p>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <h5>&nbsp;VOTRE PROFIL :</h5>
                            <p><br/>Nous vous offrons la possibilité de participer activement à nos actions commerciales
                                et d’évoluer dans un contexte enrichissant et compétitif.</p>
                            <p><br/>Stage de 4 mois minimum.<br/><strong><br/>Formation :</strong><br/> Ecole de
                                commerce ou Université Bac +4/+5<br/> Spécialisation Commerce/vente<br/> Idéalement une
                                première expérience dans le domaine commercial</p>
                        </div>
                        <div class=" col-xs-12 col-sm-12">
                            <p><strong><br/>Compétences :<br/></strong>Maîtrise des outils informatiques (Pack Office)
                                et Web.<br/>Navigation sur internet, réseaux sociaux.<br/>A l’aise au téléphone.<br/>Bonne
                                orthographe exigée.<br/>Anglais impératif, la maîtrise d’une langue étrangère est
                                vivement souhaitée (allemand, espagnol et/ou anglais).<br/>Intérêt pour le secteur de
                                l’informatique et une forte sensibilité pour les nouvelles technologies de la
                                communication, les réseaux sociaux et outils collaboratifs.<br/>Motivé(e) et
                                dynamique.<br/> Curieux(se), force de proposition, autonome et proactif(ve).<br/>Grande
                                rigueur et sens développé de l'organisation.</p>
                            <p><strong><br/>Poste :<br/></strong>De préférence, stage 6 mois (minimum 4 mois), contrat
                                de professionnalisation d’un an minimum en alternance (convention de stage
                                possible).<br/>Opportunité d’embauche à l’issue du stage.</p>
                        </div>
                        <div class="col-xs-12 col-sm-12" style="text-align: center;">
                            <p><br/>Merci d'envoyer CV et lettre motivation avec prétentions à chanda@sniw.fr</p>
                            <p><br/><br/><br/></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 col-sm-12">
                            <h3><span>&nbsp;DIRECTEUR HYPERMARCHE<span>(Afrique de l'Ouest)</span></span></h3>
                            <p>Pour l'un de nos clients en Afrique de l'Ouest, nous recherchons un directeur de magasin
                                avec expérience si possible outre-mer.<br/> Le poste est évolutif avec sous un an la
                                supervision de 2 autres points de vente de en cours de création.<br/><br/>Merci
                                d'envoyer CV et lettre motivation avec prétentions à chanda@sniw.fr<br/><br/><br/></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 col-sm-12">
                            <h3><span>&nbsp;ASSISTANT(E) EXPORT</span></h3>
                            <p>Dans le cadre de notre développement important nous recherchons un ou une assistante
                                export pour notre bureau de Villeneuve d'Ascq.<br/><br/> - Anglais courant.<br/> - TB
                                maitrise de l'outil informatique , dont Access (indispensable).<br/> - résidence sur
                                Lille ou environs. <br/> - expérience hors stage de 3 années dans l'export ou la grande
                                distribution. <br/><br/> La personne sera formée pendant près de 6 mois à nos clients,
                                produits , logistique ...et sera responsable rapidement du traitement complet des
                                commandes et de l'envoi des marchandises par route , mer et air. <br/><br/> Merci
                                d'envoyer CV et lettre motivation avec prétentions à chanda@sniw.fr</p>
                        </div>
                    </div>
                </div>
                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
