<form action="{{ path('recherche_client') }}" method="post">
    {{ form_widget(form.rechercheClient, { 'attr': { 'class' : "form-control",'placeholder': "Rechercher par ID, nom , prénom, mail ou société"} }) }}
    {{ form_widget(form) }}
</form>