<form action="{{ path('recherche_adresse') }}" method="post">
    {{ form_widget(form.rechercheAdresse, { 'attr': { 'class' : "form-control",'placeholder': "Rechercher par ID, email, nom, prenom, adresse, code postal, ville ou pays"} }) }}
    {{ form_widget(form) }}
</form>