.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 0px;
    margin-right: 5px;
    line-height: 1.25;
    color: #71748d;
    background-color: #fff;
    border: 1px solid #e6e6f2;
    border-radius: 3px;
    line-height: 1;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: black;
    border-color: black;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: black;
    border-color: black;
}