{% extends 'base.html.twig' %}

{% block title %} Erreur 404 - SNIW , centrale d'achat export.{% endblock %}

{% block body %}
    <body>
    <div class="background">
        <div class="columns-container container carriere-container">
            <div class="rte">
                <div class="row ">
                    <div class="pagenotfound mt-4">
                        <h1> PAGE INTROUVABLE</h1>
                        <p> LA PAGE QUE VOUS AVEZ DEMANDÉE N'EXISTE PAS.</p>
                        <a href="{{ path('home') }}" id="review_submit" class="red_button message_submit_btn trans_300"> Retour à l'accueil </a>
                    </div>
                </div>
                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
